@keyframes slideleft {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slideright {
  from {
    margin-right: 200%;
    width: 100%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
@keyframes mypicture {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 600px) {
  .carousel-title {
    font-weight: 500;
  }
  .past-events {
    margin-top: 2rem;
  }
}
html {
  scroll-behavior: smooth;
}

.navbar {
  border: 3px solid;
  padding: 1rem;
  color: orange;
}
.navbar .navbar-item {
  font-size: 20px;
}
.navbar .navbar-item-logo {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px orange;
  animation-name: slideleft;
  animation-duration: 2s;
}
.navbar .navbar-menu a {
  text-shadow: 2px 2px orange;
  font-weight: bold;
  animation-name: slideright;
  animation-duration: 1s;
}

.footer {
  margin-top: 1rem;
  background-color: white;
  border: 3px solid orange;
}
.footer .footer-content {
  font-size: 25px;
  text-shadow: 2px 2px orange;
  font-weight: bold;
}

.carousel-scope {
  position: relative;
  text-align: center;
}
.carousel-scope .carousel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid orange;
  padding: 3rem;
  margin: 2rem;
  margin-bottom: 150px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin-top: 1rem;
  display: flex;
  height: 500px;
  filter: brightness(40%);
}

.carousel-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-shadow: 2px 2px black;
  font-weight: 700;
}

.navbar-dropdown .navbar-item {
  font-size: 20px;
  margin-top: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px orange;
  border: 1px solid orange;
  border-radius: 50px;
}

.FilterData {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.card {
  height: calc(100% - 15px);
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 50px;
  border: 2px solid orange;
}
.card .card-body {
  padding: 2rem;
}

.detail-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
}
.detail-card .detail-image {
  align-self: center;
  border-radius: 50px;
  margin-bottom: "300px";
  border: 3px solid orange;
  border-radius: 50px;
  width: calc(60% - 45px);
}
.detail-card .detail-content {
  border: 2px solid orange;
  padding: 1rem;
  border-radius: 30px;
  line-height: 1.6;
}

.about {
  height: 75vh;
  display: flex;
  flex-direction: column;
}
.about .about-content {
  border: 2px solid orange;
  padding: 1rem;
  border-radius: 30px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.past-cards .card-img-top {
  filter: brightness(40%);
}

.datepicker {
  border-radius: 50px;
  text-align: center;
  border-color: orange;
  font-size: 1rem;
  font-weight: bold;
}

.social-media {
  text-align: center;
  border: 2px solid orange;
  border-radius: 30px;
  padding: 1rem;
}
.social-media .social-media-icon {
  margin: 1rem;
}

.loading-content {
  color: orange;
  text-shadow: 2px 2px black;
  font-size: 30px;
  font-weight: bold;
}

.gotoup {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 70px;
  right: 50px;
  color: orange;
}

button {
  all: unset;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background: orange;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 300px;
}

.date-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 8rem;
}

.profile {
  display: "flex";
  align-self: center;
}
.profile .profile-image {
  animation: mypicture 4s;
}/*# sourceMappingURL=main.css.map */